[2020-08-06 00:21] natcoso9955 opened #2 "Unable to find media"
I have configured an additional volume which is setup the same as Radarr (/downloads/media/ -> /mnt/user/Media/Movies) but when i start the container im getting the below error.

ERROR: Root Not Found, please verify you have the right volume configured, expecting path:
ERROR: /downloads/Movies

[2020-08-06 00:38] RandomNinjaAtk commented on #2
If I'm reading the error correctly, your volumes don't match your Radarr container and that is why your getting the error.

Looks like in Radarr under media folders, you have a root folder added as "/downloads/Movies"

So to resolve the error, you most likely need to add a volume that matches and begins with:  /downloads

Hope that helps...

[2020-08-06 00:43] natcoso9955 commented on #2
AMTD
![image](https://user-images.githubusercontent.com/11192857/89477690-13e0f980-d7cd-11ea-9eb9-881a8a4b45d6.png)
Radarr
![image](https://user-images.githubusercontent.com/11192857/89477746-3541e580-d7cd-11ea-8811-e7ba673b03db.png)

Im guessing my AMTD one is wrong, but i didnt really understand what to set it with from:

-v /change/me/to/match/radarr | Configure this volume to match your Radarr

[2020-08-06 00:45] RandomNinjaAtk commented on #2
You want them to be the same.. If you make the volumes exactly the same, it will just work.

So replicate the volume mappings from Radarr into this container and it should just work.

Because your image clearly shows they are both completely different, which is why your getting that error...

[2020-08-06 00:55] natcoso9955 commented on #2
updated, same error.
weirdly, its the exact same error, referencing /downloads still.
I even removed the docker image and set it from the beginning.

AMTD
![image](https://user-images.githubusercontent.com/11192857/89478447-2825f600-d7cf-11ea-8ae9-7d162bba2456.png)

Radarr
![image](https://user-images.githubusercontent.com/11192857/89478458-3116c780-d7cf-11ea-88b6-48038d4a1350.png)

[2020-08-06 00:59] RandomNinjaAtk commented on #2
Also add the /downloads which is also on your Radarr and it should work. You must have a /downloads root path configured in your Radarr library, and that's why it's looking for it.

Also if you look in your Radarr Media folder settings, you will probably see that you have it configured. If its not there, you must have a movie in your library mapped to that path...

[2020-08-06 01:04] natcoso9955 commented on #2
That is very weird, i literally dont use the /downloads folder configured in radarr but that worked.

[2020-08-06 01:48] #2 closed, assigned to RandomNinjaAtk

[2020-08-06 02:03] RandomNinjaAtk commented on #2
Glad you were able to resolve it, all I can tell you is that you must have it configured somewhere in Radarr app, or it wouldn't be looking for it.

[2020-08-07 20:14] daledali opened #3 "How do you start it?"
I have a QNAP NAS.

[2020-08-07 21:19] RandomNinjaAtk commented on #3
Use the [AUTOSTART](https://github.com/RandomNinjaAtk/docker-amtd#parameters) parameter option or https://github.com/RandomNinjaAtk/docker-amtd#script-information

[2020-08-08 11:05] #3 closed, assigned to nobody

[2020-08-13 18:16] wildsavage opened #4 "No such file or directory error"
Getting the following error running against the preview version of Radarr

######################################### DOWNLOADING TRAILERS #########################################
find: ‘’: No such file or directory
################################# 0 TRAILERS DOWNLOADED ####################################
########################################### SCRIPT COMPLETE ###############################

[2020-08-13 18:19] RandomNinjaAtk commented on #4
I've only tested on Aphrodite. Your volume mappings are probably wrong. Replicate the radarr volume mappings 1:1 to this container (excluding the config volume)

And that will probably resolve your issue

[2020-08-13 18:34] wildsavage commented on #4
I got caught with my goofy unraid / docker networking setup. the app works well, the issue was me, my bad!

[2020-08-13 22:38] #4 closed, assigned to nobody

[2020-08-16 17:36] foXaCe opened #5 "auto run"
hello , this script is great.

how to auto-excute after movie is downloaded ?

[2020-08-16 17:44] RandomNinjaAtk commented on #5
This script does not have that feature, if you have auto start enabled it will detect missing trailers on every run and download them accordingly. I wouldn't know where to begin to integrate it that way. Other than a custom Radarr container with the script. Which I have done in the past but prefer this method.

[2020-08-16 17:47] foXaCe commented on #5
ok thanks you

[2020-08-17 11:59] xdtrammell opened #6 "YouTube DL needs update."
How can you update the youtube-dl in the container, I tried to run youtube-dl U in the bash shell of the docker container but it says python does not exist.
![chrome_t4pO0Z84IL](https://user-images.githubusercontent.com/3378289/90393904-9f754880-e05f-11ea-924e-d1afd85fea7b.png)

[2020-08-17 12:19] RandomNinjaAtk commented on #6
No, it does not need an update, you need to use cookies.txt

See the cookies directory: https://github.com/RandomNinjaAtk/docker-amtd#directories

[2020-08-17 17:04] foXaCe commented on #5
maybe a sh file like this one might work

https://github.com/mdhiggins/sonarr-sma/issues/6

[2020-08-17 17:08] RandomNinjaAtk commented on #5
Thanks for the thought, but that only works because its all packaged in the same container. This script would need its own api of sorts to execute it remotely, and that is beyond me at the moment.

I have my own versions of radarr/sonarr with extra tools added where it could also be implemented, but for now I thought it would be easier to maintain to have it more isolated.

There is a version of t

[2020-08-17 17:10] foXaCe commented on #5
ok thanks you

[2020-08-17 17:24] foXaCe opened #7 "language"
I think I must have missed something. I add "fr" and it downloads all the trailers in English.

[2020-08-17 17:27] RandomNinjaAtk commented on #7
My only question would be, are you sure the trailers that are available actually have "fr" as an available option?

You should look into a few of them to see if that is an option at all directly on youtubes site. If it isn't maybe that is why...

Edit:

I've also never tried any other language, so it may just not work.... But my suspicion is most trailers are in English only...

[2020-08-17 17:29] foXaCe commented on #7
https://www.youtube.com/watch?v=AzWSHM9rYCo

[2020-08-17 17:30] foXaCe commented on #7
and it downlad english version

[2020-08-17 17:37] RandomNinjaAtk commented on #7
So after some further review, the language setting only applies to subtitles, there is no code at all to select the audio language. If I had to take a guess, you most likely have to control the langauge using the video format option, which controls audio selection:

https://github.com/RandomNinjaAtk/docker-amtd#parameters

Which is not very simple to handle. You may need to look at youtube-dl docu

[2020-08-17 17:46] foXaCe commented on #7
can be done a search:
movie_name +"french"

[2020-08-17 17:50] RandomNinjaAtk commented on #7
This script doesn't use search, Radarr provides a linked youtube trailer id for most movies, this script simply just downloads the linked youtube id. So it would only work if the linked video has more then one language attached, and you can somehow select it using youtube-dl (probably through the audio/video format selection option...)

[2020-08-17 17:52] foXaCe commented on #7
ok so radarr should point to a link on a trailer in the correct language

[2020-08-17 17:54] RandomNinjaAtk commented on #7
Yeah, I'm not sure this is possible with youtube-dl itself. You may need to add a feature request to radarr, for it to include multiple trailer id's in multiple languages. I could then use that pull the desired trailer based on language preference. Right now Radarr only provides a single ID for a particular movie, and they're probably all english...

[2020-08-17 18:02] foXaCe commented on #7
I think my level of English and my knowledge are too low for that

[2020-08-17 18:05] RandomNinjaAtk commented on #7
You would request it on their repo by posting an issue as a feature request, or try the discord channel: https://github.com/Radarr/Radarr/

[2020-08-17 20:14] foXaCe commented on #7
https://discordapp.com/channels/264387956343570434/633193129515810816/745012413220520047

[2020-08-17 20:37] austinwbest commented on #5
Use a Custom Script in *arr that calls your script (trigger it for download event). It has all the variables needed to query the *arr api for the trailer info or query tmdb|tvdb for video information.

[2020-08-17 20:40] foXaCe commented on #5
How to ?

[2020-08-17 21:18] RandomNinjaAtk commented on #5
@austinwbest I think that would only be possible if Radarr was not running as a container, I'm not aware of any way to directly send commands between containers, from another container, unless you setup some sort of SSH scenario.

If there is a way to do what your saying, I'd be curious to know more. You can find me on the discord channels for radarr (I have a donator status)

[2020-08-17 21:43] austinwbest commented on #5
Yes, i know who you are. I am nitsua on discord :)

Ideally you need to make this script standalone so it can be added with a simple custom script call. It can include all needed packages and then everything stays in the *arr container.

[2020-08-17 21:58] RandomNinjaAtk commented on #5
@austinwbest Yeah, I have a custom container that I've done that with. I just like separation to hopefully make things simpler to maintain. My custom container already has the capability, its just not advertised...

Also adding all the packages into the script is not great, because that would require a reinstall of the packages on every upgrade and thats not really ideal. Trying to keep things sim

[2020-08-18 12:00] RandomNinjaAtk commented on #7
@foXaCe I may have an update shortly that will enable languages based on the subtitle language selection... I'm doing some testing of it now.

[2020-08-18 12:22] RandomNinjaAtk commented on #7
@foXaCe If you switch to the "themoviedb" image tag, you can try the new features...

https://github.com/RandomNinjaAtk/docker-amtd/tree/themoviedb

`docker pull randomninjaatk/amtd:themoviedb`

Image is still building at the moment, wait for it to hit docker hub before switching...

Edit: Image is up!

[2020-08-18 12:41] foXaCe commented on #7
ok i will test when i get home from work

Le mar. 18 août 2020 à 14:23, RandomNinjaAtk <notifications@github.com> a
écrit :

[2020-08-18 14:18] foXaCe commented on #7
themoviedb version support more language ?

[2020-08-18 14:30] RandomNinjaAtk commented on #7
In theory it should, not tested though. If there isn't a trailer in your desired set language, I believe right now, you won't get anything...

Edit: Had to push a small bugfix, it should now be downloading via specified language. https://github.com/RandomNinjaAtk/docker-amtd/commit/8b7a6bf3c3268a15b9ea94f6e1f50df1ec7ea65f

Again, if nothing is available in your language, then you won't get anythin

[2020-08-18 17:24] RandomNinjaAtk commented on #7
@foXaCe Quick update, this should now be resolved. I've merged this back to mainline. Please update to the normal version when its available and test accordingly...

[2020-08-18 17:35] RandomNinjaAtk commented on #6
I assume this is resolved, re-open if needed

[2020-08-18 17:35] #6 closed, assigned to RandomNinjaAtk

[2020-08-18 17:38] RandomNinjaAtk commented on #5
Closing this because no changes are needed at this time...

[2020-08-18 17:38] #5 closed, assigned to nobody

[2020-08-18 20:32] foXaCe commented on #7
ok thank you
it work very good
it download trailers in my language
good job thank you

[2020-08-18 20:37] Tomcatter31 opened #9 "No Trailer ID Found, Skipping"
I have managed to get my script setup, however the log file is showing:

[code]

Do the movies need to be named a specific way, currently the name is:

Movie name - Release year

I have changed it to

Movie name - (Release year) - IMDB ID

[2020-08-18 21:50] RandomNinjaAtk commented on #9
If you have the latest update, that means https://www.themoviedb.org does not have any videos for that movie based on your settings. Verify on that website if any videos are listed, if none, you need to add it there.

Edit: The Subtitle language setting does effect the results. So it's possible there are videos available but not
in your desired language, which would also cause that error.

[2020-08-18 21:54] #7 closed, assigned to RandomNinjaAtk

[2020-08-18 21:55] Tomcatter31 commented on #9
This is happening on all of the movies I have downloaded, language is set to English

[2020-08-18 21:56] RandomNinjaAtk commented on #9
So your subtitle setting is set to
[code]
?

[2020-08-18 21:58] Tomcatter31 commented on #9
![image](https://user-images.githubusercontent.com/57972309/90569777-74344b80-e17c-11ea-9d35-1e63d63b5575.png)

[2020-08-18 22:00] Tomcatter31 commented on #9
![image](https://user-images.githubusercontent.com/57972309/90569870-a2199000-e17c-11ea-860b-747076f42194.png)

[2020-08-18 22:02] Tomcatter31 commented on #9
Think i see the issue - capitlized T on "Trailers"

[2020-08-18 22:02] Tomcatter31 commented on #9
ok, that didnt work, seems "all" works but not trailers.

[2020-08-18 22:03] RandomNinjaAtk commented on #9
Looks right, make sure there are no spaces before or after the setting. That can break it.

Also double check a couple videos to make sure they should be available. This script only pulls from YouTube as a source so if a trailer is there but not on YouTube it will skip those

[2020-08-18 22:04] Tomcatter31 commented on #9
No spaces at all

Confirmed - "all" settings work, but not trailers only-

![image](https://user-images.githubusercontent.com/57972309/90570196-3683f280-e17d-11ea-84c0-881d938a78d0.png)

[2020-08-18 22:06] Tomcatter31 commented on #9
would like to get the trailer only working as having everything download will eat space on my NAS

[2020-08-18 22:15] RandomNinjaAtk commented on #9
Could just be a bug, can't say I tested that, but it should have worked. I'll look into when I get a chance.

Keep in mind, when it is working as set to trailers, you could end up downloading multiple trailers, because it's only being restricted to videos marked as trailers

[2020-08-18 22:15] Tomcatter31 commented on #9
Thanks

[2020-08-19 00:06] RandomNinjaAtk commented on #9
@Tomcatter31 It should be fixed now, check for updates in the next 10-15 minutes for an image update that has the latest code. Should be on version 1.0.5

Let me know if that fixes it...

[2020-08-19 00:09] RandomNinjaAtk commented on #9
@Tomcatter31 Update should be available now!

[2020-08-19 01:32] Tomcatter31 commented on #9
All good and working now... Thank you

On Tue, Aug 18, 2020, 20:09 RandomNinjaAtk <notifications@github.com> wrote:

[2020-08-19 02:07] #9 closed, assigned to RandomNinjaAtk

[2020-08-28 22:08] Protektor-Desura opened #10 "Trailers Directory"
There is some kind of problem with the creation of trailers directories. The script keeps creating them without the execute bit under docker so you can't access it and it can't actually put trailers in there.
-e FilePermissions = 644
-e FolderPermissions = 755

I tried setting those environment variables and it doesn't seem to help at all.

[2020-08-28 22:10] RandomNinjaAtk commented on #10
Not aware of any problems, could be a problem with how you have Radarr configured. It sounds like Radarr has locked down the directory too much for the script to be able to access them.

Also feel free to join the discord. My guess is it's a problem with your Radarr configuration...

[2020-08-28 22:38] RandomNinjaAtk commented on #10
Just a thought... Also as of now, there is no folder permissions setting... Probably something that needs to be added though, right now I think it uses the FilePermissions setting for that, but still chown's them to the correct puid/pgid

[2020-08-28 23:56] Protektor-Desura commented on #10
The problem isn't permissions for the directory, because it does create the "Trailers" directory in the movie folder/directory. The problem is the permissions is uses when it create the folder "Trailers" which it is using the same permissions as the FilePermissions which does NOT include the execute flag because you don't execute videos, you just read them. There needs to be different permissions

[2020-08-29 04:51] Protektor-Desura commented on #10
What is your discord channel/server since I am on discord.

[2020-08-29 12:59] RandomNinjaAtk commented on #10
@Protektor-Desura Images should be building, once there complete. Update your container and configure the new settings and see if that fixes it. It won't modify anything for existing folders/files. You may need to clean that up manually.

[2020-08-29 23:21] Protektor-Desura commented on #10
Works perfectly for me now. I did have to remove all trailers directories because of wrong permissions, but it is working now for me. Thanks.

[2020-08-29 23:21] #10 closed, assigned to RandomNinjaAtk

[2020-08-31 14:39] michpas opened #11 "Great initiative. error fixed output name but more than one file to download"
Great tool. Keen to test this out.
When I installed the docker on my synology I see that it connects with Radarr, creates the required sub-folders in each movie-directory; but they are all empty.

In the log I see a couple of error messages:
**Connect to Radar**
   ERROR: Cannot communicate with Radarr, most likely a....
   ERROR: Invalid API Key: 9135b3xxxxxxxxx661c94cef6
But it still connects co

[2020-08-31 14:57] RandomNinjaAtk commented on #11
Typically if your getting that error, the script should never run because it should exit...

Are you on v2 or v3?

 I've only ever used v3, so if your on v2, maybe there is a incompatibility...

[2020-08-31 14:58] michpas commented on #11
yeah. still running (stable) v2. :-)

[2020-08-31 15:00] RandomNinjaAtk commented on #11
Maybe setup a test instance for V3 and see if you can get it working... I'm not sure I'd take the time to fix it at all for V2 if that is the reason...

PR welcome if you want to write a fix to make it compatible with both if that is the case...

[2020-08-31 18:25] michpas commented on #11
yeah. let me try to create a V3 instance and do some testing on that. Will let you know

[2020-08-31 19:32] michpas commented on #11
Hi RandomNinjaAtk.
I installed Radarr V3. Looks pretty nice :-)
Ran the same amtd on the new Radarr version.
Good news: no connection radarr error message. However I still get the same problem that the extra videos are not downloaded.
Amtd creates the sub-folder in the movie folder, but there is no storage of the extra videos.
The Message in the log ERROR: fixed output name but more than one file

[2020-08-31 19:52] RandomNinjaAtk commented on #11
You may need to pastebin the script log or hop on discord and post it some way. Just not enough detail to really know whats going on...

[2020-09-01 00:06] michpas commented on #11
Thanks to the great support of RandomNinjaAtk, it is solved. Sharing the solution.
For users with a synology NAS that are using the standard Synology docker UI screens, the

value of
-e videoformat="--format bestvideo[vcodec*=avc1]+bestaudio"
should be entered as without the "'s
-e videoformat=--format bestvideo[vcodec*=avc1]+bestaudio

[2020-09-01 00:06] #11 closed, assigned to RandomNinjaAtk

[2020-09-01 07:26] michpas opened #12 "Suggestion. Dl only one trailer and avoid subfolders"
To have an option/selection that only downloads 1 trailer and put the file in the same folder as the movie with [name]-trailer.mkv

Advantages:
1. plex, jellyfin only show 1 trailer icon.there is no selection option. Having 1 file keeps it clean and a avoind unnessesary dl of multiple trailers
2. This method also works in jellyfin as it doesnt support trailers in subfolders.

This will also make i

[2020-09-01 07:30] michpas opened #13 "Suggestion Temp working files in config/temp folder"
When dl and procesding, all dl (temp) files are directly stored within the movie directory.
For me, ths triggers automatic scan from other apps as tdarr for processing.

Best would be to keep working files in /config/cache abd only move to final location when trailer file is final.

[2020-09-01 13:36] RandomNinjaAtk commented on #13
Done

[2020-09-01 13:36] #13 closed, assigned to RandomNinjaAtk

[2020-09-01 13:36] RandomNinjaAtk commented on #12
Done

[2020-09-01 13:36] #12 closed, assigned to RandomNinjaAtk

[2020-09-01 14:52] michpas commented on #13
Wow. That is a fast turn around. I'll dl a new docker file and retest.
Thanks man! great work
very impressive,

[2020-09-01 14:57] crypto-vault opened #14 "Ignore movies already processed"
The script takes around 15% cpu in a 8 core i7 9700 and does this every hour for 15 minutes (depends on library size).

If you have big part of your library in archive where movie is no longer monitored in Radarr but it's still there the script still takes 15% of cpu just to find out "Movie Path does not exist".

A few options here could be:

1) Find out why it takes so much cpu just to find out m

[2020-09-01 15:02] RandomNinjaAtk commented on #14
So few things...

1. If you could look into that, that would be helpful
2. It already does this using cache, still has perform api hit to radarr... (might be able to re-arrange processes to reduce it some...)
3. This may be possible, but not really sure why its needed unless you don't want trailers at all for that particular item
4. You can disable auto-start and create a script to execute the scr

[2020-09-01 15:25] RandomNinjaAtk commented on #14
Updated the script to try to make it fast as possible. The reason verifying movie paths might take so long, is because it performs a disk check.

So if your disks are sleeping, they would have to spin up just for the script to perform a simple check if the folder exists....

Just a thought.... Give the update a try when it hits...

Relevant changes: https://github.com/RandomNinjaAtk/docker-amtd/co

[2020-09-01 15:34] RandomNinjaAtk commented on #14
I think this last change will address my last statement: https://github.com/RandomNinjaAtk/docker-amtd/commit/12453fdf5e436cef3b79e15c287249423d5762fa

Found something that could be used in Radarr's API. So I don't think I could make it any faster at this point....

Please give the latest updates a try...

[2020-09-01 16:00] RandomNinjaAtk commented on #14
The latest changes should allow adjusting sleep period between script runs....

I think this addresses everything as much as possible, give it a try...

[2020-09-01 16:19] crypto-vault commented on #14
Thanks, I was going to debug to see if caching movie dir would speed up things, so that it didn't have to jq so much, but your changes with hasFile=true improved things. It still takes 15% from cpu but now it's only running for a fraction of the movie list so it takes less time to run. Also took advantage of SCRIPTINTERVAL to make interval longer between runs.

[2020-09-01 16:25] RandomNinjaAtk commented on #14
Okay, think this is complete now...

[2020-09-01 16:25] #14 closed, assigned to RandomNinjaAtk

[2020-09-01 18:45] michpas opened #16 "new feature: language"
When downloading trailers for kids movies (mostly animation) , I would like to get the trailers in native language

I tried:
-e subtitlelanguage=nl
This resulted in 50% of the movies getting a trailer downloaded
Of this, the majority was dutch spoken (which is correct)
and a few in english with dutch subtitle. (which is also ok - for interim)
But it also didn't download trailers for the other 50%

[2020-09-01 18:54] RandomNinjaAtk commented on #16
Script only handles a single language. That option does work for youtube-dl but its also used in this case for themoviedb filtering. So adding 2 like that probably breaks it....

This script is really only designed to handle one single primary language.

So if your primary is "nl" you should set that to only nl

Also note, this script does not use any kind of searching.

EDIT: You could run the sc

[2020-09-02 05:08] kushfest commented on #11
FYI...I had to make this change when using the docker-compose example in Portainer.

[2020-09-08 11:43] #16 closed, assigned to nobody

[2020-09-17 16:07] michpas opened #17 "improvement Suggestion: Language tag. multiple values"
The subtitlelanguage tag works good; however it only seems to accept the first value.
In my situation I would prefer a local subtitle if available (lets say nl);
but this gives only around 50% of the hits as simply not all trailers are available matching this value.
For the others, where the prefered subtitle is not available, it could default back to english. Its more important to have a trailer

[2020-09-17 21:35] RandomNinjaAtk commented on #17
This should be implemented, give it a whirl and let me know...

[2020-09-18 06:16] michpas commented on #17
Thanks for the quick turn around.
I noticed in the instructions you added -e languages, besided the subtitle languages.

The following settings are working really well for me
-e LANGUAGES=nl,en
-e subtitlelanguage=nl

This dl's first any nl-trailer if registered in tmbd and if not, it takes the en version. Perfect result !

Thank you

[2020-09-18 09:12] #17 closed, assigned to RandomNinjaAtk

[2020-09-20 10:54] crypto-vault opened #18 "[REQ] Sonarr support for TV shows trailers"
Are you planning on adding Sonarr support for TV shows trailers?

[2020-09-20 12:38] RandomNinjaAtk commented on #18
Didn't know that was a thing? Any good info on it?

[2020-09-20 13:46] crypto-vault commented on #18
Info on Sonarr or on how to collect tv shows trailer info?

For Sonarr API it's here, similar to Radarr API:
https://github.com/Sonarr/Sonarr/wiki/API

For info on collecting trailers for TV shows you can check the code of TinyMediaManager but I guess your code already covers it:
https://www.tinymediamanager.org/

[2020-09-21 02:28] edsai opened #19 "SINGLETRAILER set to true but attempting to download multiples"
For some reason when I run the container with SINGLETRAILER set to true, it attempts to download multiple trailers and yt-downloader throws an error of "ERROR: fixed output name but more than one file to download".

Here's a snippet from the log:

############################################ Automated Movie Trailer Downloader (AMTD)
############################################ SCRIPT VERSION 1.2.1

[2020-09-21 08:57] RandomNinjaAtk commented on #19
Your format parameter is wrong in your docker config. Remove the double quotes "

[2020-09-21 13:54] edsai commented on #19
Thanks for the help. Note that note that in the amtd README.md, the docker-compose example does indeed have quotes. There's also a trailing slash next to languages that shouldn't be there as well. Appreciate all the hard work!

[2020-09-21 14:39] RandomNinjaAtk commented on #19
I'm guessing this is resolved then....

[2020-09-21 14:39] #19 closed, assigned to RandomNinjaAtk

[2020-09-24 11:30] Cheezzhead opened #21 "Local changes in /config/scripts are overwritten"
When it comes to the script locations, the current behavior is that, on startup:

- the contents of `/config/scripts` is removed;
- the contents of `/scripts` is copied to `/config/scripts`;
- the scripts in `/config/scripts` are used by the container.

This seems backward to me. `/config/scripts` is the folder that will (most likely) be available on a user's host machine, and thus will be the one

[2020-09-24 11:38] RandomNinjaAtk commented on #21
Changes can be made normally to the regular /config folder. Just not /config/scripts because they get overwritten on restarts. The reason for overwrites is to make sure the scripts are always updated and using the latest code provided by the image. For dev testing, I typically disable auto-start and make a copy of the main script and store it in /config and execute manually...

I don't necessarily

[2020-09-29 08:04] Cheezzhead commented on #21
Ah, I see. I've always used docker with the philosophy in mind that local changes should stack on top of the images. Which is why I was confused that the scripts from the images were overwriting my own scripts.

I understand the idea behind wanting to use the latest code from the image, and the current solution is adequate for dev testing. But when it comes to a production environment, if someone

[2020-10-05 17:51] ookla-ariel-ride opened #22 "HTTP Error 429"
Starting to get 429 errors.  Any suggestion on how to avoid/mitigate?  I have a large movie collection (20K+), have been running AMTD for a while and just noticed these errors in the log.

[code]

[2020-10-05 18:19] RandomNinjaAtk commented on #22
You need to use cookies.txt
https://github.com/RandomNinjaAtk/docker-amtd#directories

Its a YOUTUBE-DL feature, see there documentation for further assistance

[2020-10-05 19:45] ookla-ariel-ride commented on #22
using this extension in Chrome helps with creating the cookies.txt file in proper format.  https://chrome.google.com/webstore/detail/cookiestxt/njabckikapfpffapmjgojcnbfjonfjfg

[2020-10-05 19:45] #22 closed, assigned to RandomNinjaAtk

[2020-10-27 01:53] tehniemer opened #23 "Did the DMCA takedown of youtube-dl render this useless?"
My logs are full of
[code]

[2020-10-27 08:59] RandomNinjaAtk commented on #23
Try this https://github.com/RandomNinjaAtk/docker-amtd/issues/22

[2020-10-27 09:00] #21 closed, assigned to RandomNinjaAtk

[2020-10-27 11:25] tehniemer commented on #22
This link leads to a 404, I ended up finding and using the EditThisCookie extension, it's also able to export cookies in the proper netscape format.
https://chrome.google.com/webstore/detail/editthiscookie/fngmhnnpilhplaeedifhccceomclgfbg

[2020-10-27 11:25] tehniemer commented on #23
That worked, sorry for the panic.

[2020-10-27 11:25] #23 closed, assigned to RandomNinjaAtk

[2021-01-16 20:37] ycodryn commented on #18
At first I thought that this would be a nice feature but thinking deeper is just enough for movies. Who is downloading entire tv shows not knowing what it is about? For movies yes sure but for tv shows is not practical, usually there is a trailer for every season so this will complicate things. My opinion, leave it simple.

[2021-01-26 16:47] tehniemer opened #24 "High CPU usage when script is running"
I've noticed that this script seems very processor intensive, is this much usage normal?

![image](https://user-images.githubusercontent.com/11021632/105875835-e890d780-5fc3-11eb-841a-dec89b58e62d.png)

[2021-02-08 06:47] trickiegt opened #25 "[REQ] - Check for existing trailers"
Can you add support to check for existing trailers located in the movie folder?

Flow:
Scan media
  - No IMDB#-complete file found
  - check movie folder for *trailer*
    - if found, create IMDB#-complete file
    - else scan for trailer to download

I tried modifying the download.bash file but apparently you have it setup to replace the file with default every time the docker container is loaded

[2021-02-08 11:29] RandomNinjaAtk commented on #25
So after reviewing, it does check in multiple places... So I'm not sure why your asking for it? If you had your own trailers not using the script, that would be why it didn't find them. Because the script checks for files based on it's own output... So if your previous files were not named exactly as the script expected, it wouldn't detect them and it would initiate new downloads...

You can see w

[2021-02-08 11:31] RandomNinjaAtk commented on #24
Nothing to be done about this, the script uses software and the software can process intensive. If you find a better way, PR is welcome.

[2021-02-08 11:31] #24 closed, assigned to nobody

[2021-02-08 20:34] trickiegt commented on #25
I agree with you on all counts.  I examined both of those lines of code and came to the same conclusion -- If the file did not have the filename amtd was looking for it would assume it did not exist.

Here's a quick rundown of what happened for me and what brought me to wanting to include a `find . -name '*-trailer.*'`
I had 0 trailers, discovered your script, setup & ran amtd.  It found just abou

[2021-02-10 01:41] trickiegt commented on #25
Okay, so I was able to modify and test the code.  Noticed today your comment on manually running the script
`bash /config/scripts/download.bash`

The modifications work well -- it will check for a file *-trailer* in the movie folder.  If it finds one, it will create the -complete file and move on to the next movie.

Here's what I added to your download.bash file
`radarrmoviepath="$(echo "${radarrm

[2021-03-23 16:35] blackthroat opened #26 "[REQ] - Refresh Metadata in Plex"
As Radarr moves/copies the downloaded files to my media directory and Plex has "Scan my library automatically" enabled, trailers downloaded and put in place by AMTD (triggered to run every 1 hour by default) will not be recognized by Plex unless you manually trigger a metadata refresh, or wait until the Plex Scheduled Task "Refresh local metadata every three days" runs. It would be great if the tr

[2021-04-04 18:36] michpas opened #27 "Req: when.moviefolder is completely removed and later re-added its not being searched for trailers"
Sonetimes i remove a movie folder with previously downloaded trailers.
Later, when needed (if someone likes to watch)  i add the same movie in radarr. The amtd script thinks that the trailer is already downloaded and so doesnt download a needed trailer.
Would it be possible to rescan lets say weekly if all trailers are still available on.disk and if not, to remove the cached dl-tag, so.it redownli

[2021-04-20 15:38] xZourSx commented on #27
Hello,

I have the same problem, do you have a solution?

[2021-05-09 06:58] vladola commented on #26
+1 on this, it would be really helpful.

[2021-05-26 20:39] blackthroat opened #28 "ERROR: Sign in to confirm your age"
WARNING: unable to download video info webpage: HTTP Error 404: Not Found
ERROR: Sign in to confirm your age

Can anything be done about this? I searched previous issues and wasn't able to find anything related to this problem.

[code]

[2021-05-26 21:04] RandomNinjaAtk commented on #28
You most likely need to use cookies

[2021-06-02 20:56] blackthroat commented on #28
Thanks, I'll try passing the cookies.txt file later and see if that helps.

Seems like it could be related to some recent changes with YouTube:

https://github.com/ytdl-org/youtube-dl/issues/28578
https://github.com/zerodytrash/Simple-YouTube-Age-Restriction-Bypass/issues/15
https://github.com/TeamNewPipe/NewPipe/issues/6403

[2021-06-13 00:13] ookla-ariel-ride opened #29 "Support for Radarr V4 API"
Radarr V3 API is deprecated, see errors below:

[2021-06-13 23:56] RandomNinjaAtk commented on #29
This should be fixed in the latest...? Give it a try...

[2021-06-13 23:57] RandomNinjaAtk commented on #28
So...?

[2021-06-14 01:48] RandomNinjaAtk commented on #27
@xZourSx @michpas
You should use my packaged docker for radarr, that has a custom script to perform this trailer function on a per item basis after importing... It's typically what I use...

https://github.com/RandomNinjaAtk/docker-radarr-sma

[2021-06-14 21:50] michpas commented on #27
Thanks. That is a good suggestion.
Do wonder a bit why you are packaging both radarr and amtd in one new docker.
Why not offer a radarr add-on docker mod?
This can be easily added in the environmental parameters.

As an example see: STRIPTRACKS radarr docker mod
https://hub.docker.com/r/linuxserver/radarr

[2021-06-24 16:51] SomeRandomUserIsHere commented on #25
Was this ever implemented? I ask because this is also critical to me and is preventing me from trying out your Docker, which looks awesome btw so thank you. My use case is that I already have thousands of trailers downloaded alongside my media files, most named "movie-trailer.ext" and some as "moviename (year)-trailer.ext" -- both get picked up by Plex no problem. I wouldn't want this script to do

[2021-06-28 22:38] RandomNinjaAtk commented on #25
See if the latest update solves it for you... There is a new setting to control it... @SomeRandomUserIsHere & @trickiegt

[2021-06-28 22:38] #29 closed, assigned to RandomNinjaAtk

[2021-06-28 22:38] RandomNinjaAtk commented on #29
no response...

[2021-06-28 22:38] RandomNinjaAtk commented on #28
no response...

[2021-06-28 22:38] #28 closed, assigned to RandomNinjaAtk

[2021-06-29 11:29] RandomNinjaAtk commented on #27
See if v1.2.5 solves it for you... @michpas  @xZourSx

[2021-06-29 11:35] RandomNinjaAtk commented on #26
@blackthroat
The only way I could foresee making this work would be to trigger a Full Metadata Refresh on all libraries matching the type "movie"...

It's not really a great solution though, but shouldn't be too hard to implement if that is what you want...?

[2021-06-29 20:36] xZourSx commented on #27
It's ok thank you

[2021-06-29 21:03] RandomNinjaAtk commented on #27
So it's working?

[2021-06-29 21:12] michpas commented on #27
Yes, also tested. It now downloads all the ones that were skipped last time. Great modification !

When I looked at a detailed run, it also feels it's scanning all movies; even if the trailer is already in the folder
An extract from the log:
The below 2 folder each already contained a previously downloaed trailer.

Still the script queries TMBD, even echoes: '1 extra downloaded'; but in reality no

[2021-06-29 21:15] michpas commented on #27
On the above. An interesting observation, for some other videos that also have a trailer, the systems shows correctly:
175 of 193 :: Eighth Grade :: All videos already downloaded, skipping...
176 of 193 :: Chronicle :: All videos already downloaded, skipping...
177 of 193 :: Ma :: All videos already downloaded, skipping...

[2021-06-29 21:19] RandomNinjaAtk commented on #27
So basically what the script does, if a completed log file is found. Check it's age, if the age is older than 7 days, purge the log file a re-run the process on the movie as normal.

So yes, it will always scan every movie in the library, and as long as the completed log file is newer then 7 days, it should skip it...

I'm not really sure of any other way to design it at this point. SO that should

[2021-06-29 22:21] michpas commented on #27
Hi thanks for explaining. Really good that it 'rechecks' every 7 days. I have also removed my cache/log and rerun the routine.
It's all working very smooth now. ! Well done. This is a great application.

[2021-06-29 23:00] #27 closed, assigned to RandomNinjaAtk

[2021-06-30 13:51] blackthroat commented on #26
@vladola Any input on this from you?

I'm not sure I have a need for this request anymore as a I believe I was experiencing a bug with Plex Media Server that has since been fixed in the past few weeks with a new release. I also have since purchased Plex Pass, but I don't believe that is relevant in this case and that pertains to "Play trailers for new and upcoming theater and Blu-ray releases."

T

[2021-06-30 15:42] vladola commented on #26
This. Seems Plex does this automatically if that option is enabled. I think this issue can be closed.

[2021-06-30 16:32] #26 closed, assigned to RandomNinjaAtk

[2021-08-05 17:26] TR7Mike opened #32 "Download Issue"
I have a parallel docker container to radarr on the same Proxmox linux host. I've used the same paths and it reads the movies. But I'm getting a bunch of errors when it comes to downloading the trailers. I do also see AMTD skip due to existing trailers, which is fine.

Here is the excerpt from the log output and the Radarr and AMTD compose files are below.

Any thoughts on what's afoot?
Edit: Apol

[2021-08-10 20:08] mccune68 opened #33 "Requires Radarr to also be run in Docker? Issue finding movie paths when Radarr installed on Windows."
I used to run Radarr in a Docker container, but have been moving apps off of Docker as mine has become a little flaky and crashing often.  When I was running Radarr in Docker, AMTD worked well.  Now, with Radarr installed in Windows, I get "ERROR: Movie Path does not exist, Skipping..." for every movie.  I believe the issue is the volume mapping.

Previously, my Radarr and AMTD Docker commands had

[2021-08-10 23:31] RandomNinjaAtk commented on #33
The current implementation only supports Radarr in a docker container

[2021-08-16 16:01] guido1981 opened #34 "Downloading fails - ERROR: fixed output name but more than one file to download"
The connection with radar seems to work fine, but youtube-dl gives an error for every trailer.
 See an example of the log, and my settings below.

<html>
<body>

2021-08-16 15:05:26 | stdout | ############################################ SCRIPT SLEEPING FOR 12h
-- | -- | --
2021-08-16 15:05:26 | stdout | ############################################ SCRIPT COMPLETE
2021-08-16 15:05:26 | stdout | ##

[2021-08-18 07:40] guido1981 commented on #34
Issue was: Radarr Extras Format Set To: "--format bestvideo[vcodec*=avc1]+bestaudio"
I needed to remove the ""

[2021-08-18 07:40] #34 closed, assigned to guido1981

[2021-08-18 11:01] RandomNinjaAtk commented on #34
@guido1981 if you want to write a PR for the documentation change, feel free to do that. Or I can just update it. Let me know.

[2021-08-19 06:14] guido1981 opened #35 "Kodi needs [existingfilename]-trailer.mkv instead of sanitized name"
Hi,

Can you please add an option to save the trailers as [existingmoviefilename]-trailer.mkv instead of the sanitized name.
Kodi requires this to be able to play them from the UI.
The filename can be easily retrieved from the radarrmoviedata.
I've already made the adjustments myself here, but its not behind some nice option yet, and only for singletrailer.

https://github.com/guido1981/docker-amt

[2021-09-10 14:17] TR7Mike commented on #32
Any help at all on what to try or look for?

[2021-09-10 14:20] RandomNinjaAtk commented on #32
Remove the quotes for this setting: videoformat

[2021-09-10 15:18] TR7Mike commented on #32
Bingo, thanks.

Not that it's important, but out of curiosity, your docs have it with quotes, is there a reason why on my config it wasn't working?

[2021-09-10 15:20] RandomNinjaAtk commented on #32
Bug in the documentation

[2021-09-10 15:46] TR7Mike commented on #32
Ok, ta.

[2021-09-10 15:46] #32 closed, assigned to nobody

[2021-09-13 14:42] emopinata commented on #18
Plex has trailers for tv shows, but so far I've only seen them exposed through the web client and the last time I tried to manually add one I couldn't get it to work. However, should that be solved, I think it would be great to have show and season trailers, since not all users would know what a show is about.

[2021-10-17 16:19] huteri commented on #18
I have modified version here for sonarr https://github.com/huteri/docker-amtd

Thanks @RandomNinjaAtk for a great script,

[2021-10-17 16:27] RandomNinjaAtk commented on #18
Nice work, but it would probably be a good idea to rename it to avoid confusion. docker-attd, maybe...?

[2021-11-03 14:12] PierreDurrr opened #36 "Trailers folder rename"
Is it possible to change "Trailers" folder with whatever we want ?
Any setting for this, or is it planned ? Or maybe not ?

[2021-11-03 14:26] #33 closed, assigned to nobody

[2021-11-03 14:27] #25 closed, assigned to RandomNinjaAtk

[2021-11-21 07:14] Mansour-J opened #37 "Not working on windows"
Hi,

My current set up is on a windows machine and I keep getting the following error:
[code]

I suspect the issue is the in-compatibility of the windows and Linux path systems. My Radarr application(which is running in the windows) sends the movie file paths with the windows folder structure path and the script tries to address them and it doesn't find them and it gets confused.

In the document

[2021-11-22 10:21] kamtschatka opened #38 "Switch to yt-dlp planned? Downloads are painfully slow"
I am using amtd and I have noticed that it seems to get stuck. After looking at the temp folder, I noticed, that the file is growing steadily, but it is incredibly slow.
It is at about 50kb/s, while I have a 100Mbit connection and that should definitely go faster.

I am also running youtube-dl as well and noticed the same thing there as well, so I did some searching and as it turns out that yt-dl

[2021-11-22 12:36] kamtschatka commented on #38
I found some more information: https://github.com/ytdl-org/youtube-dl/pull/30184
Seems like an update might already solve the problem?

[2021-12-15 17:52] ookla-ariel-ride commented on #38
youtube-dl is no longer being updated.  yt-dlp is the successor it seems.

[2021-12-15 20:01] RandomNinjaAtk commented on #38
The latest image should be building with the update to swap to yt-dlp. Please give it a try and report back...

[2021-12-21 23:19] #38 closed, assigned to RandomNinjaAtk

[2021-12-21 23:21] RandomNinjaAtk commented on #37
Both applications need to be in docker containers.

[2021-12-22 10:27] RandomNinjaAtk commented on #36
What would you need to change it to?
It is not planned... and unsure of why that would be needed...

[2021-12-22 10:27] #37 closed, assigned to nobody

[2021-12-22 18:14] PierreDurrr commented on #36
No worry if not planned or worked on...
It could be renamed to i.e. Extras or any other value

Le mer. 22 déc. 2021 à 11:27, RandomNinjaAtk ***@***.***> a
écrit :

[2022-01-05 08:49] snickers2k commented on #18
can you please merge the both together maybe? Cause i'm guessing running both together will trigger the youtube limits?
thanks

attd is sadly not working for me, while amtd is working great

update: okay, got it. had to set up every single sonarr folder in attd. something not needed for amtd. now it's working.

[2022-01-05 10:02] snickers2k opened #39 "Feature Request: more companion like (UI, more options)"
Already love this app. works great. thanks for that.

But although this is a huge request, i'd really wish to see this a real companion app like bazaar does it for subtitles for example.
Because i think Trailers are such an important thing, we need an even more versatile app with UI and more options ^^

- upgrade functionality, with quality threshold to stop upgrading
    - allow qualities=720p,10

[2022-01-06 00:41] xthursdayx opened #40 "Possible to download extras with '*'/wildcard languages?"
In cases when extras and trailers cannot be found in the selected `LANGUAGES`, is it possible to download trailers and extras in any available language (using * as a wildcard, for example)?

My `LANGUAGES` and `subtitlelanguage` are set to `en`, but I have many non-English movies for which no English-language trailer or extras can be found. Is it possible to add `-e LANGUAGES=en,*` to allow for no

[2022-01-28 18:14] snickers2k opened #41 "Bug: wrong trailer"
instead of trailer for "the kid detective" amtd just downloaded this one:
https://www.youtube.com/watch?v=QTgntn1JUJ4
trailer for "THE KID 2019"

please make sure to only download a full matching regexp to avoid wrong trailers from similar named movies.
wrong trailers are the worst case... even worse than having no trailer at all.

[2022-01-28 18:18] RandomNinjaAtk commented on #41
The trailers list comes from https://www.themoviedb.org/

No searching or regex being performed, the only way to fix it, would be to update themoviedb.org with the correct information.

[2022-01-28 18:18] #41 closed, assigned to RandomNinjaAtk

[2022-01-28 18:21] #36 closed, assigned to nobody

[2022-01-30 02:52] saschabrockel opened #43 "ARM support"
Any chances on ARM support? Is there anything planned?

[2022-02-09 19:27] michpas opened #44 "Bug: amtd cannot communicate with latest version of Radar 4.0.4.5922"
I updated radar to 4.0.4.5922 (in linuxserver docker)
Since that update, the amtd script -which worked for 6 months perfectly fine- stopped working.
Updated amtd (ilarramendi/better-covers:latest) to latest version
Issue/error is the same. Log below
**Key errors seem to be : Cannot communicate with Radarr, no response.**

Reading Radarr update log: https://www.reddit.com/r/radarr/comments/rvb52f/n

[2022-02-10 12:32] RandomNinjaAtk commented on #44
Looks like your amtd container is not fully up-to-date and your linuxserver radarr app is not the latest version.

You need to update your containers/app and try again...

[2022-02-10 21:47] michpas commented on #44
Hi. Thanks for your quick comments. I'm still not sure where I''m doing wrong.
Have now completely rebuild the amtd container.
The radarr verion is also actual:

Radarr Version: 4.0.4.5922
Package Version: 4.0.4.5922-ls129 by linuxserver.io
Docker:Yes

I'm still getting the same error:

Any suggestions on how to solve?

############################################ Automated Movie Trailer Downloade

[2022-02-10 21:51] RandomNinjaAtk commented on #44
The radarr version I'm using is: 4.0.5.5923-ls234 by linuxserver.io

And I tested it locally with the same docker/script version that you just posted.

[2022-02-10 22:00] michpas commented on #44
ah. I tried a few things. Got it back to work.
Sharing the solution: I had radarrUrl in environmental as: http://192.168.0.170:8310/
Removed the last  '/' and now it worked.
Didn't notice this. This was all working fine on previous radarr version; but in these new versions no longer.
Thanks again ! Great tool.

[2022-02-10 22:01] #44 closed, assigned to nobody

[2022-02-11 14:02] memnos opened #45 "Cannot comunicate with radarr"
Hello, i've just installed docker with this script:
`docker create \
  --name=amtd \
  -v /opt/AMTD/config:/config \
  -v /media/google_crypt/crypt/Movies:/media/google_crypt/crypt/Movies \
  -e PUID=1000 \
  -e PGID=1000 \
  -e AUTOSTART=true \
  -e SCRIPTINTERVAL=1h \
  -e extrastype=trailers \
  -e LANGUAGES=it,en \
  -e videoformat="--format bestvideo[vcodec*=avc1]+bestaudio" \
  -e subtitlela

[2022-02-11 14:07] memnos commented on #45
Radarr version is 4.0.4.5922

[2022-02-11 14:24] RandomNinjaAtk commented on #45
https://github.com/RandomNinjaAtk/docker-amtd/issues/44

[2022-02-11 14:54] memnos commented on #45
I didn't understand exactly how to solve.
I updated ATMD
############################################ Automated Movie Trailer Downloader (AMTD)
############################################ SCRIPT VERSION 1.2.81
############################################ DOCKER VERSION 1.0.8
############################################ CONFIGURATION VERIFICATION

I updated radarr at version 4.0.5.5923

But errore

[2022-02-11 15:11] RandomNinjaAtk commented on #45
Try removing this setting: -e videoformat="--format bestvideo[vcodec*=avc1]+bestaudio"

[2022-02-11 15:14] RandomNinjaAtk commented on #45
What are you using for the url?
If your trying to use localhost or 127.0.0.1, that is probably why it is failing... You need to use the same URL that you would use in your browser to access it.

[2022-02-11 15:19] memnos commented on #45
Yes i use the url to enter from remote http://5.*.*.* on my browser.
My radarr and ATMD scripts are on a vps so i donw use localhost or 127.0.0.1

[2022-02-11 15:21] RandomNinjaAtk commented on #45
You should double check your api key then. Or generate a new api key and try again. Its a problem with your configuration somewhere... so you have to try all the things to solve it... nothing to be done on this end...

[2022-02-11 15:46] memnos commented on #45
I tried to renew api, but nothing. I really don't know what else to check.
Isn't there a way to have a more verbose log to see whats wrong?

[2022-02-11 16:35] RandomNinjaAtk commented on #45
You could enable verbose logging in radarr and see if can see the api call for any errors.

You could also try extracting the url from the curl commands from these lines, and running the url in the browser with the variables replaced with your info to see what is reported back...
https://github.com/RandomNinjaAtk/docker-amtd/blob/77848fb410c93c8616cc312aab28e4514e905d63/root/scripts/download.bash#

[2022-02-11 19:21] memnos commented on #45
If i run the curl command from the first line a have no answer.
With the second line i see this:
 "appName": "Radarr",
  "version": "4.0.5.5923",
  "buildTime": "2022-02-11T14:36:47Z",
  "isDebug": false,
  "isProduction": true,
  "isAdmin": false,
  "isUserInteractive": true,
  "startupPath": "/opt/Radarr",
  "appData": "/root/.config/Radarr",
  "osName": "ubuntu",
  "osVersion": "16.04",
  "isNe

[2022-02-11 19:44] memnos commented on #45
I found out what the problem was.
My firewall blocked my calls from inside.
Disabling firewall all is ok.
Sorry, my fault.
You can close issue.

[2022-02-11 20:52] #45 closed, assigned to nobody

[2022-02-12 09:36] memnos opened #46 "EndClient information"
I would like to have informations about EndClient option.
What does change from a client to another?
Naming? In this case, what does it change?
Tnx

[2022-02-12 14:00] RandomNinjaAtk commented on #46
Folder naming, it's designed to make the files more compatible with the desired endclient...

[2022-02-12 14:07] memnos commented on #46
Is there the possibility to name the trailer MOVIEFILENAME-trailer.EXT?

[2022-02-19 17:50] PierreDurrr opened #47 "Multiple root folders"
Is it planned to support multiple root folders ?

[2022-04-19 21:53] dannymichel commented on #18
is this working and still being maintained?

[2022-05-15 17:42] asherbig opened #49 "Request/Question: Refresh metadata in plex so trailers show up"
When trailers are downloaded, I've noticed that the trailers don't appear in plex until I manually "refresh metadata" for the movie. I have `Scan my library automatically` and `Run a partial scan when changes are detected` checked but it doesn't seem to pick up the trailers.

Could amtd connect to plex with a webhook similar to how radarr can make a callout to plex? Or is there a setting that I'm

[2022-06-03 20:54] dedors commented on #35
I have the same problem that I can't play the trailers on kodi.

As additional info, the trailer can also just be named "movie-trailer.mkv" (assuming you have a folder for each movie)

If anyone wants a quick windows workaround: PowerRename (MS Powertoys) search for `.+?(?=-trailer)` replace with _movie_ does the job.

[2022-08-13 01:34] saschabrockel commented on #43
I have tried it myself. So your Dockerfile works as it is for arm64 (what I need and I guess the most other people that don't need amd64). For arm/v7 it crashes with the following error:

`ERROR: Command errored out with exit status 1: /usr/bin/python3 -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-f2bz7u_1/brotli/setup.py'"'"'; __file__='"'"'/tmp/pip-install-f2bz7u_1

[2022-09-03 14:17] RandomNinjaAtk commented on #35
I’ll work on adding this to radarr-extend

Seems like movie-trailer.mkv would be the best method

https://github.com/RandomNinjaAtk/docker-radarr-extended

[2022-09-03 15:36] #35 closed, assigned to nobody

[2022-09-03 15:36] RandomNinjaAtk commented on #49
This will be improved in radarr-extended (https://github.com/RandomNinjaAtk/docker-radarr-extended)

[2022-09-03 15:36] #49 closed, assigned to nobody

[2022-09-03 15:37] RandomNinjaAtk commented on #43
radarr-extended will support arm platforms: https://github.com/RandomNinjaAtk/docker-radarr-extended

[2022-09-03 15:37] #43 closed, assigned to nobody

[2022-09-03 15:43] RandomNinjaAtk commented on #46
radarr-extended should support this by having movie-trailer.mkv as the file name for Kodi compatiblity.
https://github.com/RandomNinjaAtk/docker-radarr-extended

[2022-09-03 15:43] #46 closed, assigned to nobody

[2022-09-04 00:06] saschabrockel commented on #43
Wait what is radarr extended now?

[2022-09-04 02:22] RandomNinjaAtk commented on #18
I plan to revisit this when I develop sonarr-extended, which will be simliar to radarr-extended (https://github.com/RandomNinjaAtk/docker-radarr-extended)

This project is being deprecated and replaced by radarr-extended

[2022-09-04 02:22] #18 closed, assigned to nobody

[2022-09-04 02:22] RandomNinjaAtk commented on #47
Should be supported by radarr-extended (https://github.com/RandomNinjaAtk/docker-radarr-extended)

[2022-09-04 02:22] #47 closed, assigned to nobody

[2022-09-04 02:23] RandomNinjaAtk commented on #40
No, don't think so and its not currently supported in the new project radarr-extended (https://github.com/RandomNinjaAtk/docker-radarr-extended)

[2022-09-04 02:23] #40 closed, assigned to nobody

[2022-09-04 02:24] RandomNinjaAtk commented on #39
No, this will likely not happen

[2022-09-04 02:24] #39 closed, assigned to nobody